<div class="div_connection">
    <mat-card color="primary">
        <mat-progress-bar mode="indeterminate" color="accent" *ngIf="false"></mat-progress-bar>
        <div class="success" *ngIf="success">
            {{success}}
        </div>
        <h2>Réinitialiser votre compte</h2>
        <h4>Saisissez votre mot de passe</h4>
        <form class="form_connection" [formGroup]="passwordForm">
                <mat-form-field class="example-full-width">
                <mat-label>Mot de passe *</mat-label>
                    <input type="password" matInput formControlName="password">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                <mat-label>Vérification mot de passe *</mat-label>
                    <input type="password" matInput formControlName="checkPassword">
                </mat-form-field>
                <div class="error" *ngIf="error">
                    {{error}}
                </div>
                <div class="action_form">
                    <button mat-raised-button color="accent" (click)="updatePassword()">Réinitialiser le mot de passe</button>
                </div>
        </form>
    </mat-card>
</div>