<div class="div_connection">
    <mat-card color="primary">
        <mat-progress-bar mode="indeterminate" color="accent" *ngIf="false"></mat-progress-bar>
        <div class="success" *ngIf="success">
            {{success}}
        </div>
        <h2>Récupérer votre compte</h2>
        <h4>Saisissez votre adresse email, nous vous enverrons un lien pour le réinitialiser.</h4>
        <form class="form_connection" [formGroup]="emailForm">
                <mat-form-field class="example-full-width">
                <mat-label>Adresse email *</mat-label>
                <input type="email" matInput formControlName="email">
                </mat-form-field>
                <div class="error" *ngIf="error">
                    {{error}}
                </div>
                <div class="action_form">
                    <button mat-raised-button color="accent" (click)="forgetPassword()">Réinitialiser le mot de passe</button>
                </div>
        </form>
    </mat-card>
</div>